section.section.is-main-section {
    padding-top: 1.5rem;
 
    min-height:78vh;
    }
.select-wraper{
    overflow: hidden;
    text-overflow: ellipsis;
}
option{
     
    overflow: hidden;
    text-overflow: ellipsis;
}
/* #select-tona-option {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */


.icon.holed {
    height: 5rem;
    width: 3rem;
    }

.tabs:not(:last-child) {
    margin-bottom: 0;
    border: 1px solid #DBDBDB
    }
    
.tab-content {
    padding: 1rem;
    display: none;
    
    }
    
.tab-content.is-active {
    display: block;
    
    }

.tabs{
    float: left;
}
.tabs ul{
    -webkit-flex-direction: column;
    flex-direction: column;
}

.tabs ul {
    align-items: flex-start;
}

.tabs li a{
    color: white;
    
    }
table th {
        color: #363636;
      }

#tona_palyers_table tr:hover{
    cursor: pointer;
}
.table tr.is-selected {
background-color: #00d1b2;
color: #fff;
font-weight:bold;
}

/* #player_id_pop_up{
    width: 100px;
    height: 100px;
    background: #ffb;
    padding: 10px;
    border: 2px solid #999;
   } */